.boardTile {
	width: 3vw !important;
	height: 3vw !important;
}

.boardTileSelected{
	border-color: yellow;
	border-width: medium;
}

.startTileSelected{
	border-color: lime;
	border-width: medium;
}